/* MadCap Table Style: */

/*<meta Version="9" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		font-size: 12pt;
		font-family: Arial;
		color: #ffffff;
	}

	mcTableBodyStyle
	{
		font-size: 12pt;
		font-family: Arial;
		color: #ffffff;
		font-weight: normal;
	}
}

mcTableStyle
{
	name: InternalSiteTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 7;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Automatic;
	color: #ffffff;
	font-size: 11pt;
	font-family: Arial;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	font-size: 11pt;
	font-family: Arial;
	cell-padding-left: 40px;
	cell-padding-top: 20px;
	font-weight: normal;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-InternalSiteTable
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-InternalSiteTable-HeadI-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadI-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadE-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadE-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadF-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadF-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadH-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadH-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadD-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadD-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadC-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadC-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadB-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadB-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadA-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadA-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadG-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-HeadG-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootI-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootI-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootE-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootE-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootF-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootF-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootH-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootH-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootD-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootD-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootC-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootC-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootB-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootB-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootA-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootA-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootG-Column1-
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-FootG-Column1- p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyI-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyI-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyE-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyE-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyF-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyF-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyH-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyH-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyD-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyD-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyC-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyC-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyB-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyB-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyA-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyA-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyG-Column1-Body1
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}

	.TableStyle-InternalSiteTable-BodyG-Column1-Body1 p
	{
		font-weight: normal;
		color: #ffffff;
		font-family: Arial;
		font-size: 12pt;
	}
}

.TableStyle-InternalSiteTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-InternalSiteTable-Column-Column1
{
	
}

.TableStyle-InternalSiteTable-HeadI-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadI-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadE-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-HeadE-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadF-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadF-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadH-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-HeadH-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadD-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadD-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadC-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadC-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadB-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-HeadB-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadA-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadA-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadG-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-HeadG-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootI-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootI-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootE-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-FootE-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootF-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootF-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootH-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-FootH-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootD-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootD-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootC-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootC-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootB-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-FootB-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootA-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootA-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootG-Column1-
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-FootG-Column1- p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-Body-Body1
{
	
}

.TableStyle-InternalSiteTable-BodyI-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyE-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyF-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyH-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyD-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyC-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyB-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-InternalSiteTable-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyA-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyG-Column1-Body1
{
	font-weight: normal;
	padding-left: 40px;
	padding-top: 20px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-InternalSiteTable-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
}


