/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 44pt;
		margin-right: 0px;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: TableIndent;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-left: 0pt;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-size: 10pt;
	font-family: Arial;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #c0c0c0;
	font-family: Arial;
	font-size: 9pt;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: middle;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	separator-style: solid;
	separator-width: 1px;
	font-family: Arial;
	font-size: 10pt;
	separator-color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: noBreak;
	type: Manual;
	page-break-inside: auto;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-TableIndent
	{
		margin-left: 44pt;
		margin-right: 0px;
		margin-top: 12px;
		margin-bottom: 12px;
		border-spacing: 0px 0px;
	}
}

.TableStyle-TableIndent
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0pt;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-TableIndent-Column-Column1
{
	
}

.TableStyle-TableIndent-Head-Header1
{
	
}

.TableStyle-TableIndent-HeadI-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableIndent-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadF-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableIndent-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadD-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableIndent-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadC-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadA-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-HeadG-Column1-Header1
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableIndent-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-TableIndent-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootI-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-FootE-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootF-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-FootH-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootD-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootC-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-FootB-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootA-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-FootG-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-Body-Body1
{
	
}

.TableStyle-TableIndent-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-Body-noBreak
{
	page-break-inside: auto;
}

.TableStyle-TableIndent-BodyI-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyI-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyE-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyE-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyF-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyF-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyH-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyH-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyD-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyD-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyC-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyC-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyB-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableIndent-BodyB-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyA-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyA-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyG-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableIndent-BodyG-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}


