/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: GuideTables;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-size: 10pt;
	font-family: Arial;
	cell-content-style-tag: p;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #c0c0c0;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: middle;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body;
	separator-style: solid;
	separator-width: 1px;
	font-family: Arial;
	font-size: 10pt;
	separator-color: #000000;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: noBreak;
	type: Manual;
	page-break-inside: auto;
	cell-content-style-tag: p;
}


/* Cell Styles: */
 
.TableStyle-GuideTables
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-GuideTables-Column-Column1
{
	
}

.TableStyle-GuideTables-Head-Header1
{
	
}

.TableStyle-GuideTables-HeadI-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-GuideTables-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadF-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-GuideTables-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadD-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-GuideTables-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadC-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadA-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-HeadG-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #c0c0c0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-GuideTables-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-GuideTables-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootI-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-FootE-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootF-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-FootH-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootD-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootC-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-FootB-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootA-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-FootG-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-Body-Body
{
	
}

.TableStyle-GuideTables-BodyI-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyI-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyE-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyE-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyF-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyF-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyH-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyH-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyD-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyD-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyC-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyC-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyB-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyB-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyA-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyA-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyG-Column1-Body
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyG-Column1-Body p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-Body-noBreak
{
	page-break-inside: auto;
}

.TableStyle-GuideTables-BodyI-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyI-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyE-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyE-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyF-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyF-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyH-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyH-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyD-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyD-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyC-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyC-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyB-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-GuideTables-BodyB-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyA-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyA-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyG-Column1-noBreak
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-GuideTables-BodyG-Column1-noBreak p
{
	font-family: Arial;
	font-size: 10pt;
}


