/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: OutsideBorderGuideTables;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-size: 10pt;
	font-family: Arial;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	separator-style: solid;
	separator-width: 0px;
	font-family: Arial;
	font-size: 10pt;
	separator-color: #000000;
}


/* Cell Styles: */
 
.TableStyle-OutsideBorderGuideTables
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-OutsideBorderGuideTables-Column-Column1
{
	
}

.TableStyle-OutsideBorderGuideTables-Head-Header1
{
	
}

.TableStyle-OutsideBorderGuideTables-HeadI-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-OutsideBorderGuideTables-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadF-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-OutsideBorderGuideTables-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadD-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-OutsideBorderGuideTables-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadC-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadA-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-HeadG-Column1-Header1
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-OutsideBorderGuideTables-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootI-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-FootE-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootF-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-FootH-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootD-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootC-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-FootB-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootA-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-FootG-Column1- p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-Body-Body1
{
	
}

.TableStyle-OutsideBorderGuideTables-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-OutsideBorderGuideTables-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-OutsideBorderGuideTables-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}


