/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableSegments;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	background-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: MC;
	id: 0;
	size: 25px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: ElementNo;
	size: 80px;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: ElementName;
	size: 165px;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: DataType;
	size: 50px;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Comments;
	size: 222px;
	type: Automatic;
	separator-style: solid;
	separator-width: 1px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-TableSegments
{
	border-collapse: collapse;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TableSegments-Column-MC
{
	width: 25px;
}

.TableStyle-TableSegments-Column-ElementNo
{
	width: 80px;
}

.TableStyle-TableSegments-Column-ElementName
{
	width: 165px;
}

.TableStyle-TableSegments-Column-DataType
{
	width: 50px;
}

.TableStyle-TableSegments-Column-Comments
{
	width: 222px;
}

.TableStyle-TableSegments-Head-Header1
{
	
}

.TableStyle-TableSegments-HeadI-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadI-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadE-MC-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadE-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadF-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadF-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadH-MC-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadH-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadD-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadD-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadC-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadC-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadB-MC-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadB-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadA-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadA-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadG-MC-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadG-MC-Header1 p
{
	
}

.TableStyle-TableSegments-HeadI-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadI-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadE-ElementNo-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadE-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadF-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadF-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadH-ElementNo-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadH-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadD-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadD-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadC-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadC-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadB-ElementNo-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadB-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadA-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadA-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadG-ElementNo-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadG-ElementNo-Header1 p
{
	
}

.TableStyle-TableSegments-HeadI-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadI-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadE-ElementName-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadE-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadF-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadF-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadH-ElementName-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadH-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadD-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadD-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadC-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadC-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadB-ElementName-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadB-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadA-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadA-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadG-ElementName-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadG-ElementName-Header1 p
{
	
}

.TableStyle-TableSegments-HeadI-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadI-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadE-DataType-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadE-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadF-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadF-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadH-DataType-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadH-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadD-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadD-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadC-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadC-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadB-DataType-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadB-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadA-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadA-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadG-DataType-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadG-DataType-Header1 p
{
	
}

.TableStyle-TableSegments-HeadI-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadI-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadE-Comments-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadE-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadF-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadF-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadH-Comments-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadH-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadD-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-HeadD-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadC-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadC-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadB-Comments-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadB-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadA-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadA-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-HeadG-Comments-Header1
{
	background-color: #a9a9a9;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-HeadG-Comments-Header1 p
{
	
}

.TableStyle-TableSegments-FootI-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootI-MC- p
{
	
}

.TableStyle-TableSegments-FootE-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootE-MC- p
{
	
}

.TableStyle-TableSegments-FootF-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootF-MC- p
{
	
}

.TableStyle-TableSegments-FootH-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootH-MC- p
{
	
}

.TableStyle-TableSegments-FootD-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootD-MC- p
{
	
}

.TableStyle-TableSegments-FootC-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootC-MC- p
{
	
}

.TableStyle-TableSegments-FootB-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootB-MC- p
{
	
}

.TableStyle-TableSegments-FootA-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootA-MC- p
{
	
}

.TableStyle-TableSegments-FootG-MC-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootG-MC- p
{
	
}

.TableStyle-TableSegments-FootI-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootI-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootE-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootE-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootF-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootF-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootH-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootH-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootD-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootD-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootC-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootC-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootB-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootB-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootA-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootA-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootG-ElementNo-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootG-ElementNo- p
{
	
}

.TableStyle-TableSegments-FootI-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootI-ElementName- p
{
	
}

.TableStyle-TableSegments-FootE-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootE-ElementName- p
{
	
}

.TableStyle-TableSegments-FootF-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootF-ElementName- p
{
	
}

.TableStyle-TableSegments-FootH-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootH-ElementName- p
{
	
}

.TableStyle-TableSegments-FootD-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootD-ElementName- p
{
	
}

.TableStyle-TableSegments-FootC-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootC-ElementName- p
{
	
}

.TableStyle-TableSegments-FootB-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootB-ElementName- p
{
	
}

.TableStyle-TableSegments-FootA-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootA-ElementName- p
{
	
}

.TableStyle-TableSegments-FootG-ElementName-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootG-ElementName- p
{
	
}

.TableStyle-TableSegments-FootI-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootI-DataType- p
{
	
}

.TableStyle-TableSegments-FootE-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootE-DataType- p
{
	
}

.TableStyle-TableSegments-FootF-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootF-DataType- p
{
	
}

.TableStyle-TableSegments-FootH-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootH-DataType- p
{
	
}

.TableStyle-TableSegments-FootD-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootD-DataType- p
{
	
}

.TableStyle-TableSegments-FootC-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootC-DataType- p
{
	
}

.TableStyle-TableSegments-FootB-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootB-DataType- p
{
	
}

.TableStyle-TableSegments-FootA-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootA-DataType- p
{
	
}

.TableStyle-TableSegments-FootG-DataType-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootG-DataType- p
{
	
}

.TableStyle-TableSegments-FootI-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootI-Comments- p
{
	
}

.TableStyle-TableSegments-FootE-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootE-Comments- p
{
	
}

.TableStyle-TableSegments-FootF-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootF-Comments- p
{
	
}

.TableStyle-TableSegments-FootH-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootH-Comments- p
{
	
}

.TableStyle-TableSegments-FootD-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootD-Comments- p
{
	
}

.TableStyle-TableSegments-FootC-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootC-Comments- p
{
	
}

.TableStyle-TableSegments-FootB-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-FootB-Comments- p
{
	
}

.TableStyle-TableSegments-FootA-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootA-Comments- p
{
	
}

.TableStyle-TableSegments-FootG-Comments-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-FootG-Comments- p
{
	
}

.TableStyle-TableSegments-Body-Body1
{
	
}

.TableStyle-TableSegments-BodyI-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyI-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyE-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyE-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyF-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyF-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyH-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyH-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyD-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyD-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyC-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyC-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyB-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyB-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyA-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyA-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyG-MC-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyG-MC-Body1 p
{
	
}

.TableStyle-TableSegments-BodyI-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyI-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyE-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyE-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyF-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyF-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyH-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyH-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyD-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyD-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyC-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyC-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyB-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyB-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyA-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyA-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyG-ElementNo-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyG-ElementNo-Body1 p
{
	
}

.TableStyle-TableSegments-BodyI-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyI-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyE-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyE-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyF-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyF-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyH-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyH-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyD-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyD-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyC-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyC-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyB-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyB-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyA-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyA-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyG-ElementName-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyG-ElementName-Body1 p
{
	
}

.TableStyle-TableSegments-BodyI-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyI-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyE-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyE-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyF-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyF-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyH-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyH-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyD-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyD-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyC-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyC-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyB-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyB-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyA-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyA-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyG-DataType-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyG-DataType-Body1 p
{
	
}

.TableStyle-TableSegments-BodyI-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyI-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyE-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyE-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyF-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyF-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyH-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyH-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyD-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableSegments-BodyD-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyC-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyC-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyB-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-TableSegments-BodyB-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyA-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyA-Comments-Body1 p
{
	
}

.TableStyle-TableSegments-BodyG-Comments-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableSegments-BodyG-Comments-Body1 p
{
	
}


